## Loading data into Pandas

In [ ]:
import pandas as pd
import numpy as np

## read csv
df = pd.read_csv('../data/pokemon_data.csv')
df.head(5)

## read Excel file
# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df_xlsx.head(5)

## read delimited text file
# df = pd.read_csv('pokemon_data.txt', delimiter='\t')
# df.head(5)

# df['HP']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [ ]:
## Load from a dictionary
d_dict ={'Name':['Bulbasaur','Ivysaur'],
        'Type 1':['Grass',np.nan]} 


df_dict = pd.DataFrame(data=d_dict)
df_dict
# df_dic.info()

## drop NaNs
# df_dic.dropna(axis=0, inplace=True)
# df_dic

        Name Type 1
0  Bulbasaur  Grass
1    Ivysaur    NaN

In [ ]:
np_data = np.zeros((2, 3))
np_df = pd.DataFrame(data=np_data, columns=['c1','c2','c3'])
np_df

    c1   c2   c3
0  0.0  0.0  0.0
1  0.0  0.0  0.0

## Reading Data in Pandas

In [4]:
#### Read Headers
# list(df.columns)

## Read each Column
df2=df[['Name', 'Type 1', 'HP']]
df2

## Read Each Row, iloc is integer-based 
# df2.iloc[20:24]
# df.iloc[0:4]

## Read a specific location (R,C)
df.iloc[2,1]

## Iterate through a dataframe
# for index, row in df.iterrows():
#     print(row['Name'])
#     print(row['Attack'])
#     print('***')

## Filter by a where clause, loc is based on label or boolean
df.loc[df['Type 1'] == "Grass"]

####### BAD EXAMPLE ###############
# for index, row in df.iterrows():
#     if (row['Type 1'] == "Grass"):
#         print(row['Name'])
#         print(row['Attack'])
#         print('***')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

## Sorting/Describing Data

In [5]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [6]:
# sorted_df = df.sort_values('Name', ascending=False)

sorted_df = df.sort_values(['Type 1','Name','HP'], ascending=[1,1,0])#,inplace=True)

# sorted_df = df.sort_values([1,2,3],axis=1)#,inplace=True)
sorted_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
290,267,Beautifly,Bug,Flying,60,70,50,100,50,65,3,False
18,15,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
372,340,Whiscash,Water,Ground,110,78,73,76,71,60,3,False
301,278,Wingull,Water,Flying,40,30,30,55,30,85,3,False
209,194,Wooper,Water,Ground,55,45,45,25,25,15,2,False

## Making changes to the data

In [146]:
# %%timeit
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df.head()
# type(df['Name'])
# df = df.drop(columns=['Total'])
# df.head()
# df['Total'] = df.iloc[:, 4:10].sum(axis=1)
# df.head()

df.columns.values #numpy array
# list(df.columns.values) #list
# # # [1,2]+[3]
# df.drop(columns=['Total'], inplace=True)
# cols = list(df.columns)
# cols
# df = df[cols[0:4] + [cols[-1]] + cols[4:11]]

# df.head(5)

array(['#', 'Name', 'Type 1', 'Type 2', 'Legendary', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation'],
      dtype=object)

In [153]:
s= pd.Series([100,101,102])

# s= s.to_numpy()
# type(s)
d= s.to_frame(name='Col1')
d.head()
# d['Col1']

   Col1
0   100
1   101
2   102

## Saving our Data (Exporting into Desired Format)

In [154]:
df2

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [159]:
# df2.to_csv('modified.csv', index=False)

# df.to_excel('modified.xlsx', index=False)

df2.to_csv('modified.txt', index=False, sep='\t', header=False, mode='a') 
# #there are other arguments like header(boolean), compression='zip', 'gzip', etc., quotechar, writing  mode (C-like modes), ...

## Filtering Data

In [169]:
df['Type 1'] == 'Grass'
df[df['Type 1'] == 'Grass']

# mask = (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)
# mask
# new_df = df[mask]


# new_df = new_df.reset_index()
# new_df
new_df.reset_index(drop=True, inplace=True)
# # new_df = new_df.drop(columns='#')
# new_df

# list(new_df.index)

new_df.to_csv('filtered.csv')

### Filtering based on string value

In [172]:
new_df = df[df['Name'].str.contains('Mega ')]
new_df.reset_index(inplace=True, drop=True)
new_df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1
1,6,CharizardMega Charizard X,Fire,Dragon,False,78,130,111,130,85,100,1
2,6,CharizardMega Charizard Y,Fire,Flying,False,78,104,78,159,115,100,1
3,9,BlastoiseMega Blastoise,Water,NaN,False,79,103,120,135,115,78,1
4,15,BeedrillMega Beedrill,Bug,Poison,False,65,150,40,15,80,145,1
5,18,PidgeotMega Pidgeot,Normal,Flying,False,83,80,80,135,80,121,1
6,65,AlakazamMega Alakazam,Psychic,NaN,False,55,50,65,175,95,150,1
7,80,SlowbroMega Slowbro,Water,Psychic,False,95,75,180,130,80,30,1
8,94,GengarMega Gengar,Ghost,Poison,False,60,65,80,170,95,130,1
9,115,KangaskhanMega Kangaskhan,Normal,NaN,False,105,125,100,60,100,100,1
10,127,PinsirMega Pinsir,Bug,Flying,False,65,155,120,65,90,105,1
11,130,GyaradosMega Gyarados,Water,Dark,False,95,155,109,70,130,81,1
12,142,AerodactylMega Aerodactyl,Rock,Flying,False,80,135,85,70,95,150,1
13,150,MewtwoMega Mewtwo X,Psychic,Fighting,True,106,190,100,154,100,130,1
14,150,MewtwoMega Mewtwo Y,Psychic,NaN,True,106,150,70,194,120,140,1
15,181,AmpharosMega Ampharos,Electric,Dragon,False,90,95,105,165,110,45,2
16,208,SteelixMega Steelix,Steel,Ground,False,75,125,230,55,95,30,2
17,212,ScizorMega Scizor,Bug,Steel,False,70,150,140,65,100,75,2
18,214,HeracrossMega Heracross,Bug,Fighting,False,80,185,115,40,105,75,2
19,229,HoundoomMega Houndoom,Dark,Fire,False,75,90,90,140,90,115,2
20,248,TyranitarMega Tyranitar,Rock,Dark,False,100,164,150,95,120,71,2
21,254,SceptileMega Sceptile,Grass,Dragon,False,70,110,75,145,85,145,3
22,257,BlazikenMega Blaziken,Fire,Fighting,False,80,160,80,130,80,100,3
23,260,SwampertMega Swampert,Water,Ground,False,100,150,110,95,110,70,3
24,282,GardevoirMega Gardevoir,Psychic,Fairy,False,68,85,65,165,135,100,3
25,302,SableyeMega Sableye,Dark,Ghost,False,50,85,125,85,115,20,3
26,303,MawileMega Mawile,Steel,Fairy,False,50,105,125,55,95,50,3
27,306,AggronMega Aggron,Steel,NaN,False,70,140,230,60,80,50,3
28,308,MedichamMega Medicham,Fighting,Psychic,False,60,100,85,80,85,100,3
29,310,ManectricMega Manectric,Electric,NaN,False,70,75,80,135,80,135,3
30,319,SharpedoMega Sharpedo,Water,Dark,False,70,140,70,110,65,105,3
31,323,CameruptMega Camerupt,Fire,Ground,False,70,120,100,145,105,20,3
32,334,AltariaMega Altaria,Dragon,Fairy,False,75,110,110,110,105,80,3
33,354,BanetteMega Banette,Ghost,NaN,False,64,165,75,93,83,75,3
34,359,AbsolMega Absol,Dark,NaN,False,65,150,60,115,60,115,3
35,362,GlalieMega Glalie,Ice,NaN,False,80,120,80,120,80,100,3
36,373,SalamenceMega Salamence,Dragon,Flying,False,95,145,130,120,90,120,3
37,376,MetagrossMega Metagross,Steel,Psychic,False,80,145,150,105,110,110,3
38,380,LatiasMega Latias,Dragon,Psychic,True,80,100,120,140,150,110,3
39,381,LatiosMega Latios,Dragon,Psychic,True,80,130,100,160,120,110,3
40,384,RayquazaMega Rayquaza,Dragon,Flying,True,105,180,100,180,100,115,3
41,428,LopunnyMega Lopunny,Normal,Fighting,False,65,136,94,54,96,135,4
42,445,GarchompMega Garchomp,Dragon,Ground,False,108,170,115,120,95,92,4
43,448,LucarioMega Lucario,Fighting,Steel,False,70,145,88,140,70,112,4
44,460,AbomasnowMega Abomasnow,Grass,Ice,False,90,132,105,132,105,30,4
45,475,GalladeMega Gallade,Psychic,Fighting,False,68,165,95,65,115,110,4
46,531,AudinoMega Audino,Normal,Fairy,False,103,60,126,80,126,50,5
47,719,DiancieMega Diancie,Rock,Fairy,True,50,160,110,160,110,110,6

In [173]:
import re
# read more about Python regular expression here: https://docs.python.org/3/library/re.html
# useful cheatsheet: https://www.debuggex.com/cheatsheet/regex/python

new_df = df[df['Name'].str.contains('^Pi\w*' , regex=True)] #the name starts with 'Pi'
# new_df = df[df['Name'].str.contains('^Pi\w*t$' , regex=True)] #the name starts with 'Pi' and ends with 't'
new_df

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
20,16,Pidgey,Normal,Flying,False,40,45,40,35,35,56,1
21,17,Pidgeotto,Normal,Flying,False,63,60,55,50,50,71,1
22,18,Pidgeot,Normal,Flying,False,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,83,80,80,135,80,121,1
30,25,Pikachu,Electric,NaN,False,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,65,155,120,65,90,105,1
186,172,Pichu,Electric,NaN,False,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,50,65,90,35,35,15,2
239,221,Piloswine,Ice,Ground,False,100,100,80,60,60,50,2
438,393,Piplup,Water,NaN,False,53,51,53,61,56,40,4
558,499,Pignite,Fire,Fighting,False,90,93,55,70,55,55,5
578,519,Pidove,Normal,Flying,False,50,55,50,36,30,43,5

In [175]:
# new_df.count()
# new_df[new_df['Type 2'].isnull()]
# new_df.info()

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
30,25,Pikachu,Electric,NaN,False,35,55,40,50,50,90,1
136,127,Pinsir,Bug,NaN,False,65,125,100,55,70,85,1
186,172,Pichu,Electric,NaN,False,20,40,15,35,35,60,2
219,204,Pineco,Bug,NaN,False,50,65,90,35,35,15,2
438,393,Piplup,Water,NaN,False,53,51,53,61,56,40,4


## Conditional Changes

In [184]:
new_df['Total'] = new_df.iloc[:, 4:10].sum(axis=1)

# new_df
# new_df.loc[new_df['Total'] > 300, 'Type 1'] = 'Flamer'
# new_df

# new_df.loc[new_df['Total'] > 300, 'Legendary'] = True
# new_df

# new_df.loc[new_df['Total'] >= 300, ['Generation','Legendary']] = [100, True]
# new_df

new_df.loc[new_df['Type 2'].isnull(), 'Type 2'] = 'Basic'
new_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
20,16,Pidgey,Normal,Flying,False,40,45,40,35,35,56,1,195.0
21,17,Pidgeotto,Normal,Flying,False,63,60,55,50,50,71,1,278.0
22,18,Pidgeot,Flamer,Flying,True,83,80,75,70,70,101,100,379.0
23,18,PidgeotMega Pidgeot,Flamer,Flying,True,83,80,80,135,80,121,100,459.0
30,25,Pikachu,Electric,Basic,False,35,55,40,50,50,90,1,230.0
136,127,Pinsir,Flamer,Basic,True,65,125,100,55,70,85,100,416.0
137,127,PinsirMega Pinsir,Flamer,Flying,True,65,155,120,65,90,105,100,496.0
186,172,Pichu,Electric,Basic,False,20,40,15,35,35,60,2,145.0
219,204,Pineco,Bug,Basic,False,50,65,90,35,35,15,2,275.0
239,221,Piloswine,Flamer,Ground,True,100,100,80,60,60,50,100,401.0
438,393,Piplup,Water,Basic,False,53,51,53,61,56,40,4,274.0
558,499,Pignite,Flamer,Fighting,True,90,93,55,70,55,55,100,364.0
578,519,Pidove,Normal,Flying,False,50,55,50,36,30,43,5,221.0

## Set index

In [192]:
df = pd.read_csv('pokemon_data.csv')
# newdf = df.set_index('Name', drop=True)
# # newdf = df.set_index('Name' , drop=False )
# newdf = newdf[newdf.index.str.contains('Pichu')]
# newdf = newdf.reset_index()
# newdf

newdf = df.set_index(['Name','Type 1'] , drop=True )
newdf
# newdf[(newdf.index.get_level_values('Name').str.contains('Pichu'))]

newdf[(newdf.index.get_level_values('Name').str.contains('Pichu'))
      |(newdf.index.get_level_values('Type 1').str.contains('Grass'))]

,,#,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,Type 1,,,,,,,,,,
Bulbasaur,Grass,1,Poison,45,49,49,65,65,45,1,False
Ivysaur,Grass,2,Poison,60,62,63,80,80,60,1,False
Venusaur,Grass,3,Poison,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,3,Poison,80,100,123,122,120,80,1,False
Oddish,Grass,43,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Chespin,Grass,650,NaN,56,61,65,48,45,38,6,False
Quilladin,Grass,651,NaN,61,78,95,56,58,57,6,False
Chesnaught,Grass,652,Fighting,88,107,122,74,75,64,6,False
Skiddo,Grass,672,NaN,66,65,48,62,57,52,6,False
Gogoat,Grass,673,NaN,123,100,62,97,81,68,6,False

## Aggregate Statistics (Groupby)

In [45]:
df = pd.read_csv('../data/pokemon_data.csv')
# df

# df.groupby(['Type 1']).count()
# df.groupby(['Type 1']).mean()
# df.groupby(['Type 1']).mean()[['HP','Attack','Defense']]
# df.groupby(['Type 1']).mean()[['HP','Attack','Defense']].sort_values('Defense',ascending=False)
# df.groupby(['Type 1']).agg({'HP':'mean','Attack':'max','Defense':'min'}).sort_values('Defense',ascending=False)

## new syntax
# df.groupby('Type 1').agg(
#     min_HP=pd.NamedAgg(column='HP', aggfunc='min'),
#     max_Attack=pd.NamedAgg(column='Attack', aggfunc='max'),
#     average_Defense=pd.NamedAgg(column='Defense', aggfunc='mean'),
# ).sort_values('average_Defense',ascending=False)

df['c'] = 1
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,c
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,1

In [44]:
df.groupby(['Type 1']).count()["c"]
# df.groupby(['Type 1', 'Type 2']).count()['c']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: c, dtype: int64

In [16]:
newdf = df[['Name','Type 1','HP']]
# res = newdf.groupby(['Type 1']).agg(list)
# res = df.groupby(['Type 1']).agg(list)['Name'] # the output is a series
# res['Bug']
res = df.groupby(['Type 1']).agg(list)['Name'].to_dict()
len(list(res['Bug']))

69

## Working with large amounts of data

In [80]:
# for df in pd.read_csv('modified.csv', chunksize=5): #it returns an iterator for the lines of the file
#     print("CHUNK")
#     print(df)

new_df = pd.DataFrame(columns=df.columns)
new_df

for df in pd.read_csv('../data/pokemon_data.csv', chunksize=50):
    results = df.groupby(['Type 1'] , as_index=False).count()
    new_df = pd.concat([new_df, results] , sort=False) #to concat horizontally use axis = 1

In [81]:
new_df.iloc[0:50]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,7,7,Bug,5,7,7,7,7,7,7,7,7
1,2,2,Electric,0,2,2,2,2,2,2,2,2
2,2,2,Fairy,0,2,2,2,2,2,2,2,2
3,7,7,Fire,3,7,7,7,7,7,7,7,7
4,6,6,Grass,6,6,6,6,6,6,6,6,6
5,2,2,Ground,0,2,2,2,2,2,2,2,2
6,10,10,Normal,8,10,10,10,10,10,10,10,10
7,10,10,Poison,4,10,10,10,10,10,10,10,10
8,4,4,Water,0,4,4,4,4,4,4,4,4
0,4,4,Bug,4,4,4,4,4,4,4,4,4
1,2,2,Electric,2,2,2,2,2,2,2,2,2
2,5,5,Fighting,0,5,5,5,5,5,5,5,5
3,4,4,Fire,0,4,4,4,4,4,4,4,4
4,1,1,Ghost,1,1,1,1,1,1,1,1,1
5,4,4,Grass,4,4,4,4,4,4,4,4,4
6,2,2,Ground,0,2,2,2,2,2,2,2,2
7,5,5,Normal,3,5,5,5,5,5,5,5,5
8,2,2,Poison,0,2,2,2,2,2,2,2,2
9,4,4,Psychic,0,4,4,4,4,4,4,4,4
10,3,3,Rock,3,3,3,3,3,3,3,3,3
11,14,14,Water,8,14,14,14,14,14,14,14,14
0,3,3,Bug,2,3,3,3,3,3,3,3,3
1,4,4,Electric,0,4,4,4,4,4,4,4,4
2,2,2,Fighting,0,2,2,2,2,2,2,2,2
3,2,2,Fire,0,2,2,2,2,2,2,2,2
4,3,3,Ghost,3,3,3,3,3,3,3,3,3
5,3,3,Grass,2,3,3,3,3,3,3,3,3
6,4,4,Ground,2,4,4,4,4,4,4,4,4
7,1,1,Ice,1,1,1,1,1,1,1,1,1
8,8,8,Normal,0,8,8,8,8,8,8,8,8
9,2,2,Poison,0,2,2,2,2,2,2,2,2
10,3,3,Psychic,1,3,3,3,3,3,3,3,3
11,2,2,Rock,2,2,2,2,2,2,2,2,2
12,13,13,Water,4,13,13,13,13,13,13,13,13
0,4,4,Bug,4,4,4,4,4,4,4,4,4
1,3,3,Dragon,1,3,3,3,3,3,3,3,3
2,6,6,Electric,2,6,6,6,6,6,6,6,6
3,3,3,Fairy,1,3,3,3,3,3,3,3,3
4,4,4,Fire,1,4,4,4,4,4,4,4,4
5,4,4,Grass,0,4,4,4,4,4,4,4,4
6,1,1,Ice,1,1,1,1,1,1,1,1,1
7,6,6,Normal,3,6,6,6,6,6,6,6,6
8,1,1,Poison,1,1,1,1,1,1,1,1,1
9,6,6,Psychic,3,6,6,6,6,6,6,6,6
10,5,5,Rock,5,5,5,5,5,5,5,5,5
11,7,7,Water,4,7,7,7,7,7,7,7,7
0,8,8,Bug,7,8,8,8,8,8,8,8,8
1,6,6,Dark,5,6,6,6,6,6,6,6,6
2,2,2,Fairy,0,2,2,2,2,2,2,2,2
3,2,2,Fire,1,2,2,2,2,2,2,2,2

In [ ]:
new_df.info()
new_df.groupby(['Type 1'], as_index=False).sum()
    

# print(new_df[['Type 1']].to_dict())

# new_df.groupby('Type 1').sum()
# df=pd.read_csv('pokemon_data.csv')
# df.groupby('Type 1').count()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 13
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           200 non-null    object
 1   Name        200 non-null    object
 2   Type 1      200 non-null    object
 3   Type 2      200 non-null    object
 4   HP          200 non-null    object
 5   Attack      200 non-null    object
 6   Defense     200 non-null    object
 7   Sp. Atk     200 non-null    object
 8   Sp. Def     200 non-null    object
 9   Speed       200 non-null    object
 10  Generation  200 non-null    object
 11  Legendary   200 non-null    object
dtypes: object(12)
memory usage: 20.3+ KB

,Type 1,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bug,69,69,52,69,69,69,69,69,69,69,69
1,Dark,31,31,21,31,31,31,31,31,31,31,31
2,Dragon,32,32,21,32,32,32,32,32,32,32,32
3,Electric,44,44,17,44,44,44,44,44,44,44,44
4,Fairy,17,17,2,17,17,17,17,17,17,17,17
5,Fighting,27,27,7,27,27,27,27,27,27,27,27
6,Fire,52,52,24,52,52,52,52,52,52,52,52
7,Flying,4,4,2,4,4,4,4,4,4,4,4
8,Ghost,32,32,22,32,32,32,32,32,32,32,32
9,Grass,70,70,37,70,70,70,70,70,70,70,70
10,Ground,32,32,19,32,32,32,32,32,32,32,32
11,Ice,24,24,11,24,24,24,24,24,24,24,24
12,Normal,98,98,37,98,98,98,98,98,98,98,98
13,Poison,28,28,13,28,28,28,28,28,28,28,28
14,Psychic,57,57,19,57,57,57,57,57,57,57,57
15,Rock,44,44,35,44,44,44,44,44,44,44,44
16,Steel,27,27,22,27,27,27,27,27,27,27,27
17,Water,112,112,53,112,112,112,112,112,112,112,112

### Split and Join (merge)

In [46]:
# split the dataframe to two, prepare for join operations
cols=df.columns.to_list()
left_df = df[cols[0:3]]
left_df

       #                   Name   Type 1
0      1              Bulbasaur    Grass
1      2                Ivysaur    Grass
2      3               Venusaur    Grass
3      3  VenusaurMega Venusaur    Grass
4      4             Charmander     Fire
..   ...                    ...      ...
795  719                Diancie     Rock
796  719    DiancieMega Diancie     Rock
797  720    HoopaHoopa Confined  Psychic
798  720     HoopaHoopa Unbound  Psychic
799  721              Volcanion     Fire

[800 rows x 3 columns]

In [49]:
right_df = df[cols[1:2]+cols[3:]]
right_df

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,c
0,Bulbasaur,Poison,45,49,49,65,65,45,1,False,1
1,Ivysaur,Poison,60,62,63,80,80,60,1,False,1
2,Venusaur,Poison,80,82,83,100,100,80,1,False,1
3,VenusaurMega Venusaur,Poison,80,100,123,122,120,80,1,False,1
4,Charmander,NaN,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Fairy,50,100,150,100,150,50,6,True,1
796,DiancieMega Diancie,Fairy,50,160,110,160,110,110,6,True,1
797,HoopaHoopa Confined,Ghost,80,110,60,150,130,70,6,True,1
798,HoopaHoopa Unbound,Dark,80,160,60,170,130,80,6,True,1
799,Volcanion,Water,80,110,120,130,90,70,6,True,1

In [84]:
#inner join merge
merged_inner = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name')
merged_inner

# left/right join
# left_df = pd.concat([left_df,pd.DataFrame(columns=list(left_df.columns),data=np.array(['','Div_left','new_type']).reshape(1,-1))])
# left_df.reset_index(drop=True,inplace=True)
# left_df

# right_df = pd.concat([right_df,pd.DataFrame(columns=list(right_df.columns),data=np.array(['Div_right','','','','','','','','','']).reshape(1,-1))])
# right_df.reset_index(drop=True,inplace=True)
# right_df

# merged_left = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name', how='right')
# merged_left

# # # outer join
# merged_outer = pd.merge(left=left_df,right=right_df, left_on='Name', right_on='Name', how='outer')
# merged_outer

# pd.isnull(merged_outer.iloc[800]['Type 1'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,c
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,1
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,1
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,1
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,1
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,1
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,1
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,1
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,1
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,1

## Display setting

In [83]:
display_settings = {
    'max_rows': 20,
    'precision': 2,
    'show_dimensions': True,
    'max_columns': 7
}

for op, value in display_settings.items():
    pd.set_option("display.{}".format(op), value)

# to read more about Pandas display options: https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [84]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]